
.loading-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-start{
    padding:15px;
    background-color: #A5C9CA;
    color: #fff;
    border: 1px solid #A5C9CA;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
}

.show-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.card{
    opacity: 0;
    pointer-events:none;
    background-color: #374444 !important;
    margin: 100px auto;
    padding: 20px 5px;
    width: 500px;
    color: #A5C9CA;
}

.card-image img{
    margin: auto;
    width: 485px;
}

.card-header h2{
   text-align: center;
}

.game-detail .list-group-item{
    background-color: #374444 !important;
    list-style: none;
    
}


.list-group-item div{
    font-weight: bold;
    color: #A5C9CA;
}

.list-group-item span{
    font-weight: normal;
    color: #fff;
}

.card-comments{
    margin: 10px;
    padding: 10px;
    border: 1px solid #E7F6F2;
    border-radius: 10px;
    color: #fff;
}
.card-btn button{
    background-color: #A5C9CA;
    color: #fff;
    border: 1px solid #A5C9CA;
    border-radius: 5px;
    width: 20%;
    margin-top: 10px;
}

button:hover{
    border: 3px solid #fff;
}
.card-btn .btn-previous{
    margin-left: 10px;
}
.card-btn .btn-next{
    margin-right: 10px;
    float: right;
}

@media screen and (min-width: 480px) {
    .loading-bar img{
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%,-50%);
    }
    
  }
